# x,y 좌표를 위도/경도로

In [1]:
import pandas as pd
import numpy as np
import pyproj

In [2]:
df = pd.read_csv('./adr-hospital.csv', encoding='cp949', usecols=['사업장명', '진료과목내용명', '좌표정보(x)', '좌표정보(y)', '도로명전체주소'])

# 좌표값이 문자열로 되어있으면 오류가 발생할 수 있어서 numeric 처리해줌
df['좌표정보(x)'] = pd.to_numeric(df['좌표정보(x)'], errors='coerce')
df['좌표정보(y)'] = pd.to_numeric(df['좌표정보(y)'], errors='coerce')

# NaN값 갖는 행 싹다 날림
df = df.dropna()


df = df[df['진료과목내용명'].str.contains('정신건강의학과')]
df.columns = ['address', 'corp_name', 'longitude', 'latitude', 'treatment_subject']
df.index = range(len(df))
df

,address,corp_name,longitude,latitude,treatment_subject
0,경상남도사천시사천읍구암두문로74,사천동희병원,299722.4204,177131.7783,"내과, 신경과, 정신건강의학과, 소아청소년과, 이비인후과, 피부과, 가정의학과"
1,경상남도양산시모래들1길91(주진동),양산병원,394946.0000,213423.0000,"내과, 신경과, 정신건강의학과"
2,경상남도창녕군고암면상대2길16더케이서드에이지,프라임요양병원,337000.3444,232019.5924,"내과, 신경과, 정신건강의학과, 외과, 정형외과, 신경외과, 안과, 이비인후과, 피..."
3,경상남도사천시향촌4길127(향촌동한마음병원),(의)덕산의료재단한마음병원,300255.8831,160128.6480,"정신건강의학과, 영상의학과, 가정의학과"
4,경상남도사천시축동면서삼로1110-35,(의)순영의료재단경남도립정신병원,295277.7415,177495.1737,"정신건강의학과, 외과, 마취통증의학과"
...,...,...,...,...,...
704,전라남도고흥군도양읍소록해안길65,국립소록도병원,211401.4789,112823.6314,"내과, 외과, 이비인후과, 피부과, 안과, 정신건강의학과, 재활의학과,병리과, 치과..."
705,충청남도천안시서북구성정공원1길9-4(성정동),충무사랑병원,212327.0362,369485.4505,"정신건강의학과, 외과, 내과"
706,충청남도당진시합덕읍합덕시장로174-1,정빈의료재단합덕아산병원,179810.8820,367418.2661,"내과, 정신건강의학과, 가정의학과, 정형외과, 신경외과, 외과, 소아청소년과, 비뇨기과"
707,광주광역시북구유림로177(동림동),동림허바킴병원,187560.9000,186653.5499,"내과. 신경괴과, 정신건강의학과, 가정의학과 , 한방과"
708,광주광역시남구독립로54번길26(백운동),광주백병원,191242.8109,182123.7631,"내과, 정신건강의학과, 한방내과, 사상체질과, 침구과, 한방신경정신과, 가정의학과"

In [4]:
# 배열로 만드는 이유 : x,y값을 위도/경도로 만들어주는 함수가 array로 되어있음
df_array = df.drop(['corp_name', 'address', 'treatment_subject'], axis=1)
df_array

       longitude     latitude
0    299722.4204  177131.7783
1    394946.0000  213423.0000
2    337000.3444  232019.5924
3    300255.8831  160128.6480
4    295277.7415  177495.1737
..           ...          ...
704  211401.4789  112823.6314
705  212327.0362  369485.4505
706  179810.8820  367418.2661
707  187560.9000  186653.5499
708  191242.8109  182123.7631

[709 rows x 2 columns]

In [6]:
def project_array(coord, p1_type, p2_type):
    """
    좌표계 변환 함수
    - coord: x, y 좌표 정보가 담긴 NumPy Array
    - p1_type: 입력 좌표계 정보 ex) epsg:5179
    - p2_type: 출력 좌표계 정보 ex) epsg:4326
    """
    p1 = pyproj.Proj(init=p1_type)
    p2 = pyproj.Proj(init=p2_type)
    fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])
    return np.dstack([fx, fy])[0]

In [5]:
coord = np.array(df_array)

coord

array([[299722.4204, 177131.7783],
       [394946.    , 213423.    ],
       [337000.3444, 232019.5924],
       ...,
       [179810.882 , 367418.2661],
       [187560.9   , 186653.5499],
       [191242.8109, 182123.7631]])

In [7]:
p1_type = "epsg:2097"
p2_type = "epsg:4326"

# x,y -> 위도/경도 변환
result = project_array(coord, p1_type, p2_type)
result

C:\Users\by_wh\anaconda3\lib\site-packages\pyproj\crs\crs.py:130: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\by_wh\anaconda3\lib\site-packages\pyproj\crs\crs.py:130: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\by_wh\AppData\Local\Temp/ipykernel_18996/3581348372.py:10: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])

array([[128.09145814,  35.08831363],
       [129.14376907,  35.40129272],
       [128.50930953,  35.57848967],
       ...,
       [126.77166035,  36.80795057],
       [126.86135954,  35.17898638],
       [126.90182861,  35.13819604]])

In [8]:
# df longtitude/latitude열에 덮어쓰기
df['longitude'] = result[:, 0]
df['latitude'] = result[:, 1]

df

,address,corp_name,longitude,latitude,treatment_subject
0,경상남도사천시사천읍구암두문로74,사천동희병원,128.091458,35.088314,"내과, 신경과, 정신건강의학과, 소아청소년과, 이비인후과, 피부과, 가정의학과"
1,경상남도양산시모래들1길91(주진동),양산병원,129.143769,35.401293,"내과, 신경과, 정신건강의학과"
2,경상남도창녕군고암면상대2길16더케이서드에이지,프라임요양병원,128.509310,35.578490,"내과, 신경과, 정신건강의학과, 외과, 정형외과, 신경외과, 안과, 이비인후과, 피..."
3,경상남도사천시향촌4길127(향촌동한마음병원),(의)덕산의료재단한마음병원,128.095260,34.935027,"정신건강의학과, 영상의학과, 가정의학과"
4,경상남도사천시축동면서삼로1110-35,(의)순영의료재단경남도립정신병원,128.042768,35.092018,"정신건강의학과, 외과, 마취통증의학과"
...,...,...,...,...,...
704,전라남도고흥군도양읍소록해안길65,국립소록도병원,127.122088,34.513498,"내과, 외과, 이비인후과, 피부과, 안과, 정신건강의학과, 재활의학과,병리과, 치과..."
705,충청남도천안시서북구성정공원1길9-4(성정동),충무사랑병원,127.136079,36.826715,"정신건강의학과, 외과, 내과"
706,충청남도당진시합덕읍합덕시장로174-1,정빈의료재단합덕아산병원,126.771660,36.807951,"내과, 정신건강의학과, 가정의학과, 정형외과, 신경외과, 외과, 소아청소년과, 비뇨기과"
707,광주광역시북구유림로177(동림동),동림허바킴병원,126.861360,35.178986,"내과. 신경괴과, 정신건강의학과, 가정의학과 , 한방과"
708,광주광역시남구독립로54번길26(백운동),광주백병원,126.901829,35.138196,"내과, 정신건강의학과, 한방내과, 사상체질과, 침구과, 한방신경정신과, 가정의학과"

# 도로명 주소를 위도/경도로

In [1]:
!pip install googlemaps

Requirement already satisfied: googlemaps in c:\users\by_wh\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\by_wh\anaconda3\lib\site-packages (from googlemaps) (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\by_wh\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\by_wh\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\by_wh\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\by_wh\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2021.10.8)

In [2]:
import googlemaps
import pandas as pd



# 구글 클라우드 플랫폼의 geocoding API 사용
my_key = "AIzaSyA98GaV2pDkyU4DYx0IcCRNxecBtD8cXuQ"
maps = googlemaps.Client(key=my_key) 
lat = []  #위도
lng = []  #경도

# 위치를 찾을 장소나 주소를 넣어준다.
loca = pd.read_excel('./please.xlsx', usecols=['address'])

places = loca['address']

i=0
for place in places:   
    i = i + 1
    try:
        geo_location = maps.geocode(place)[0].get('geometry')
        lat.append(geo_location['location']['lat'])
        lng.append(geo_location['location']['lng'])
        

    except:
        lat.append('')
        lng.append('')
        print("%d번 인덱스 위치를 찾는데 실패했습니다."%(i))


# 데이터프레임만들어 출력하기

# 꽤 오래걸릴겁니다..
df = pd.DataFrame({'위도':lat, '경도':lng}, index=places)

df.to_excel('./rest.xlsx')



'''
# output
1번 인덱스에서 강남의 위치를 찾고있습니다
2번 인덱스에서 황상동의 위치를 찾고있습니다
3번 인덱스에서 해운대해수욕장의 위치를 찾고있습니다
                위도          경도
강남       37.517236  127.047325
황상동      36.114955  128.440733
해운대해수욕장  35.158698  129.160384

'''

134번 인덱스 위치를 찾는데 실패했습니다.

'\n# output\n1번 인덱스에서 강남의 위치를 찾고있습니다\n2번 인덱스에서 황상동의 위치를 찾고있습니다\n3번 인덱스에서 해운대해수욕장의 위치를 찾고있습니다\n                위도          경도\n강남       37.517236  127.047325\n황상동      36.114955  128.440733\n해운대해수욕장  35.158698  129.160384\n\n'

In [3]:
df

                                         위도          경도
address
광주광역시서구죽봉대로863층(농성동)              35.160258  126.883598
울산광역시울주군서향교1길67-122층              35.558331  129.113771
전라남도신안군압해읍천사로1004                 34.833386  126.351195
경기도성남시분당구분당로53번길9301호(서현동에이원프라자)  37.383865  127.121322
서울특별시마포구양화로1563층315호(동교동LG팰리스빌딩)  37.556081  126.923445
...                                     ...         ...
광주광역시남구서문대로701번길2넥스타워5층(진월동)      35.122123   126.89817
경기도오산시경기동로8번길28라동102호             37.156244  127.074454
대전광역시대덕구송촌남로55-12                 36.356192  127.443819
경기도안산시상록구석호공원로2길7401호(사동)         37.300884  126.849497
대전광역시중구대흥로1053층(대흥동)              36.322969  127.422036

[858 rows x 2 columns]

In [4]:
df.dropna() # NaN값 갖는 행 삭제

                                         위도          경도
address
광주광역시서구죽봉대로863층(농성동)              35.160258  126.883598
울산광역시울주군서향교1길67-122층              35.558331  129.113771
전라남도신안군압해읍천사로1004                 34.833386  126.351195
경기도성남시분당구분당로53번길9301호(서현동에이원프라자)  37.383865  127.121322
서울특별시마포구양화로1563층315호(동교동LG팰리스빌딩)  37.556081  126.923445
...                                     ...         ...
광주광역시남구서문대로701번길2넥스타워5층(진월동)      35.122123   126.89817
경기도오산시경기동로8번길28라동102호             37.156244  127.074454
대전광역시대덕구송촌남로55-12                 36.356192  127.443819
경기도안산시상록구석호공원로2길7401호(사동)         37.300884  126.849497
대전광역시중구대흥로1053층(대흥동)              36.322969  127.422036

[858 rows x 2 columns]

In [5]:
df

                                         위도          경도
address
광주광역시서구죽봉대로863층(농성동)              35.160258  126.883598
울산광역시울주군서향교1길67-122층              35.558331  129.113771
전라남도신안군압해읍천사로1004                 34.833386  126.351195
경기도성남시분당구분당로53번길9301호(서현동에이원프라자)  37.383865  127.121322
서울특별시마포구양화로1563층315호(동교동LG팰리스빌딩)  37.556081  126.923445
...                                     ...         ...
광주광역시남구서문대로701번길2넥스타워5층(진월동)      35.122123   126.89817
경기도오산시경기동로8번길28라동102호             37.156244  127.074454
대전광역시대덕구송촌남로55-12                 36.356192  127.443819
경기도안산시상록구석호공원로2길7401호(사동)         37.300884  126.849497
대전광역시중구대흥로1053층(대흥동)              36.322969  127.422036

[858 rows x 2 columns]

In [6]:
#원하는 파일형식으로 저장
df.to_excel('./123124141.xlsx')